@import '../../styles/variables.scss';

.btn {
    font-family: $font;
    background-color: $primary-color;
    color: $white-color;
    border: none;
    border-radius: 28.5px;
    line-height: 1.2;
    cursor: pointer;
    transition-duration: .3s;
    padding: 5px 10px;
}

.btn:hover {
    background-color: #fb5d32;
}